<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Attendance List</h1>
        <h2>Refresh this page to see attendenc captured. </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in attendance %}
                <tr>
                    <td>{{ entry.Name }}</td>
                    <td>{{ entry.Time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('stop_attendance') }}" class="btn btn-danger">Stop Taking Attendance</a>
    </div>
</body>
</html>
